<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns                = "http://www.w3.org/ns/widgets"
        xmlns:gap        = "http://phonegap.com/ns/1.0"
        id                = "com.Phyo.Labs"
        version         = "1.0.0">

        <name>Attasiya Zarbhiya</name>

        <description>
                Phyo Labs
        </description>

        <author href="http://phyominhtun.github.com"
                email="blackrevolution.x@gmail.com">
                Phyo Min Htun
        </author>

        <gap:platforms>
                <gap:platform name="android"/>
                <gap:platform name="webos" />
                <gap:platform name="symbian.wrt" />
                <gap:platform name="blackberry" project="widgets"/>
        </gap:platforms>

        <icon src="zby.png" gap:role="default" />

    <gap:splash src="zby.png" />

        <feature name="http://api.phonegap.com/1.0/geolocation"/>
        <feature name="http://api.phonegap.com/1.0/network"/>

</widget>
