h1 {
	color: #D65CFF;
}

article {
	width: auto;
	height: auto;
}

article img {
	max-width: 100%;
	min-width: 100%;	
	padding-top: 50px;
	padding-bottom: 70px;
}

.navp {
	text-align: center;
}

span {
	color: #D65CFF;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}